.loader {
    overflow: hidden;
    width: 100vw;
    height: 7px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    z-index: 100000;
}

.loader-element {
    height: 7px;
    width: 100%;
    background: var(--light-blue);
}

.loader-element:before {
    content: '';
    display: block;
    background-color: var(--blue-color);
    height: 10px;
    width: 0;
    animation: getWidth 3s ease-in infinite;
}

@keyframes getWidth {
    100% {
        width: 100%;
    }
}
